<div class="<%= location %>">
 <div><%= link_to "Home", root_path %></div>
 <div><%= link_to "showcase", pages/showcase %></div>
 <div><%= link_to "Gallery", gallery_path %></div>
 <div><%= link_to "Blogs", blogs_path %></div>
 <div><%= link_to "Upcoming", upcoming_path %></div>
 <div><%= link_to "Gallery", gallery_path %></div>
</div>